/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .profile-fields .bpjm-set-odd{
 	background: #cccccc1a;
 }
 .profile-fields ul.resume-links {
     list-style: none;
     margin-bottom: 0px;
 }
