select.wpbpjm-user-roles {
    width: 25%;
}

@CHARSET "ISO-8859-1";
.display{
	display: none;
}
.wpbpjm-adming-setting{
	float: left;
    width: 90%;
}
button.wpbpjm-accordion {
    background-color: hsl(0, 0%, 87%);
    border: medium none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: hsl(0, 0%, 27%);
    cursor: pointer;
    font-size: 15px;
    margin: 0 5%;
    outline: medium none;
    padding: 15px 20px;
    text-align: left;
    transition: all 0.4s ease 0s;
    width: 90%;
}
button.wpbpjm-accordion.active, button.wpbpjm-accordion:hover {
  background-color: hsl(207, 90%, 54%);
  color:white;
}
div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin:0px 5%;
}
button.wpbpjm-accordion::after {
  color: hsl(0, 0%, 47%);
  content: "+";
  float: right;
  font-size: 13px;
  font-weight: bold;
  margin-left: 5px;
}
button.wpbpjm-accordion::after:hover {
  color: white;
}
button.wpbpjm-accordion.active::after {
  content: "−";
  color:white;
}
.wpbpjm-admin-row{
  clear: both;  
  overflow: hidden;
  padding-bottom: 5px;
}