/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.bpjm-header .bpjm-plugin-heading {
	float: left;
	margin: 0px;
}
.bpjm-header .bpjm-extra-actions {
	float: right;
	padding-bottom: 10px;
}
ol.bpjm-required-plugins-links a {
	text-decoration: none;
}
.notice-success, div.updated {
	clear: both;
}

.blpro_excluding_member{
	width:70%;
}

#lock_acc_roles .selectize-dropdown-content {
  max-height: 85px;
}
